.box1{
    border-radius: 10px;
    border: 3px solid rgb(103, 216, 118);
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    text-align: center;
}
.box2{
    border-radius: 10px;
    border: 3px solid rgb(130, 98, 206);
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.box3{
    border-radius: 10px;
    border: 3px solid rgb(206, 98, 170);
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.box4{
    border-radius: 10px;
    border: 3px solid rgb(209, 76, 59);
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    text-align: center;
}
.box5{
    border-radius: 10px;
    border: 3px solid rgb(59, 187, 209);
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    text-align: center;
}
.relative{
    position: relative;
    left: 20px;
}

.fixed{
    position: fixed;
    top: 450px;
}
.absolute{
    position: absolute;
    bottom: 0px;
}

.sticky{
    position: sticky;
    top: 0px;
}